/* May 2018 */
::-moz-selection {
  color: white;
  background: #5880AF;
}

::selection {
  color: white;
  background: #5880AF;
}

html {
  height: 100%;
}

body {
  border: 0;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', Verdana, Geneva, Sans-Serif, Arial, Helvetica;
  color: #333;

}

#container {
  position: relative;
  min-width: 1200px;
  min-height: 100vh;
  text-align: left;
  z-index: 0;
  display: block;
}

/* ----------------------- HEADER -------------------- */

.navigation {
  height: 70px;
  background: #002A5C;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-bottom: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.2s;
  z-index: 1000;
}

.brand {
  position: absolute;
  float: left;
  line-height: 75px;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  margin: 0 auto;
}

.navigation nav {
  float: right;
}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation nav ul li {
  float: left;
  position: relative;
}
.navigation nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #002A5C;
  color: white;
  border-bottom: 5px solid transparent;
  transition: 0.2s ease-out;
}
.navigation nav ul li a:hover {
  border-bottom-color: #bccbde;
  color: #bccbde;
}
.navigation nav ul li ul li {
  min-width: 255px;
}

@media (max-width: 1400px) {
  .navigation {
    font-size: 13px;
  }

  .navigation nav ul li ul li {
    min-width: 220px;
  }
}

.navigation nav ul li ul li a {
  padding: 10px;
  line-height: 20px;
  background: white;
  color: #002A5C;
}
.navigation nav ul li ul li a:hover {
  background: #bccbde;
  color: #002A5C;
}
.navigation nav ul li a svg g {
  fill: white;
}
.navigation nav ul li a:hover svg g {
  fill: #bccbde;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.navigation nav ul li:last-child .nav-dropdown {
  right: 0px;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: -5px;
  right: 0;
  background: #002A5C;
  height: 80px;
  width: 70px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s;
}

.nav-mobile:hover {
  background: #bccbde;
}

.nav-mobile:hover #nav-toggle span:before, .nav-mobile:hover #nav-toggle span:after {
  width: 35px;
}

@media (max-width: 1200px) {
  .nav-mobile {
    display: block;
  }

  .navigation nav ul li a, .navigation nav ul li ul li a {
    opacity: 0.95;
  }

  .navigation nav {
    width: 100%;
    padding-top: 75px;
  }
  .navigation nav ul {
    max-height: 0;
    overflow: auto;
    transition: 0.4s;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .navigation nav ul li {
    float: none;
  }
  .navigation nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .navigation nav ul li a:hover {
    background: #bccbde;
    color: #002A5C !important;
    border-bottom-color: transparent;
  }
  .navigation nav ul li a svg g {
    fill: white;
  }
  .navigation nav ul li a:hover svg g {
    fill: #002A5C;
  }
  .navigation nav ul li ul li a {
    padding-left: 30px;
    background: #002A5C;
    color: white;
  }

  .nav-dropdown {
    position: static;
    display: block;
  }

  .navigation nav ul li a.active {
    pointer-events: none;
    background: #bccbde;
    color: #002A5C !important;
  }
  .navigation nav ul li a.active svg g {
    fill: #002A5C !important;
  }
}

.dropdown-li:hover .nav-dropdown {
  display: block;
}

@media (min-width: 1201px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  padding: 15px 35px 16px 0px;
  transform: scaleX(-1);
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 50px;
  height: 2px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
  width: 30px;
}
#nav-toggle span:after {
  bottom: -10px;
  width: 20px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  width: 35px;
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  width: 35px;
  transform: rotate(-45deg);
}

.navigation #image {
  display: flex;
  align-items: center;
  padding: 10px 25px;
}

#uoft_logo {
  height: 45px;
  padding-right: 15px;
}

#ace_logo {
  height: 40px;
  padding-left: 15px;
}

.navigation nav ul li a.active {
  pointer-events: none;
  border-bottom: 5px solid #bccbde;
  color: #bccbde;
}

.navigation nav ul li a.active svg g {
  fill: #bccbde;
}

.navigation nav ul li a svg {
  padding-right: 10px;
  margin-top: -4px;
  vertical-align: middle;
}

.navigation nav ul li a svg g {
  transition: 0.2s;
}

.nav-down {
  top: 0;
}

.nav-up {
  top: -95px;
}

/* --------------------------- BACKGROUND IMAGE ------------------ */
.background-container, .background {
  width: 100%;
  margin: auto;
  height: 50vh;
  min-height: 100px;
  max-height: 500px;
}

.background-container {
  padding-bottom: 6px;
  border-bottom: 5px solid #002A5C;
  margin-bottom: 10px;
  -webkit-animation: move-in 0.7s ease-out; /* Safari 4.0 - 8.0 */
  animation: move-in 0.7s ease-out;
  display: flex;
}

.background-container.homepage {
  background: rgba(0, 42, 92, 0.4);
  position: relative;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  flex: 3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-in {
  from {opacity: 0; transform:  translateX(-30px);}
  to {opacity: 1; transform: translateX(0px);}
}

/* Standard syntax */
@keyframes move-in {
  from {opacity: 0; transform:  translateX(-30px);}
  to {opacity: 1; transform: translateX(0px);}
}

.ace-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-size: 60px;
  margin: 0;
  font-weight: bold;
  color: white;

}

.background.index {
  background-image: url('../images/index_background.jpg');
  /* background-position: 0 100%; */
}

.background.wedding {
  background-image: url('../images/wedding_background.jpg');
}

.background.filming {
  background-image: url('../images/filming_background.jpg');
}

/* ----------------------------- BODY WRAPPER -------------------- */

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 120px 20px;
  margin-top: 100px;
}

.wrapper.homepage {
  justify-content: center;
}

.wrapper>div {
  margin: 0 15px;
}

/* ---------------------------- LEFT SIDE --------------------------- */

#sidebar {
  flex: 1;
}

#main {
  flex: 4;
}

#right {
  flex: 0 0 350px;
}

#sidebar a {
  display: block;
}

.sidebar_card {
  border: 1px solid #002A5C;
  color: #002A5C;
  padding: 20px;
  text-align: center;
  margin-top: 15px;
  border-radius: 3px;
  transition: 0.2s;
}

#right .sidebar_card {
  margin-top: 10px;
}

.sidebar_card:first-child, #right .sidebar_card:first-child {
  margin-top: 0px;
}

.sidebar_card:hover {
  background-color: #002A5C;
  color: white;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.sidebar_text {
  margin-top: 15px;
  margin-bottom: 0px;
}

.sidebar_card svg {
  height: 50px;
}

.sidebar_card svg g {
  fill: #002A5C;
  transition: 0.1s;
}

.sidebar_card:hover svg g {
  fill: white;
}

/* ------------------------- SUBTITLE BELOW PAGE TITLE --------------- */

.sub_title {
  color: #002A5C;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 5px 5px 0;
  transition: 0.2s;
}

.sub_title:hover {
  background-color: #CCCCCC;
}

.sub_title span {
  transition: 0.2s;
}

.sub_title:hover span {
  margin-left: 3px;
}

/* ------------------------------ TABLE ------------------------------ */

#services_table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

#services_table td {
  text-align: left;
}

#services_table td a {
  display: block;
  padding: 10px 15px;
  color: #333;
}

#services_table td:first-child a {
  text-transform: uppercase;
  font-weight: bold;
  color: #002A5C;
  padding-left: 10px;
}

#services_table tr {
  transition: 0.2s;
}

#services_table tr:hover {
  background-color: #CCC;
  transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

#services_table tr:active {
  background-color: #a7a3a3;
}

/* ----------------------------- RIGHT SIDE ----------------------------- */

#right a {
  display: block;
  outline: none;
}

#contact_info_card {
  background-color: #CCCCCC;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 3px;
}

.contact_card_title {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #002A5C;
  border-bottom: 3px solid #a7a3a3;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

#contact_info_card p:not(.contact_card_title) {
  margin: 0 0 20px 0;
}

#contact_info_card p:last-child {
  margin-bottom: 0px;
}

#contact_info_card mark {
  background-color: #CCCCCC;
  color: #333;
  transition: 0.2s;
}

#contact_info_card a:hover mark {
  background-color: #a7a3a3;
}

#contact_info_card span {
  transition: 0.2s;
}

#contact_info_card a:hover span {
  margin-left: 3px;
}

#contact_info_card img {
  height: 1.1em;
  vertical-align: middle;
  padding-right: 8px;
  padding-bottom: 5px;
}

/* ----------------------------- FOOTER -----------------------------*/

footer {
  background-color: #002A5C;
  min-width: 1000px;
  width: 100%;
  /* height: 70px; */
  /* padding: 15px 30px; */
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  z-index: 10;
}

#footer_items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#footer_items a {
  display: block;
  color: #bccbde;
  padding: 25px 25px;
  transition: 50ms;
}

#footer_items a:hover {
  color: white;
}

/* ---------------------- DEFAULT LINK FORMATTING ------------------------- */

a {
  text-decoration: none;
  color: #002A5C;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
}

.link {
  font-weight: bold;
  text-decoration: underline;
}

.link:hover {
  color: #337AB7;
}

/* ----------------------- BUTTON CLASS FORMATTING ----------------------- */
button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.button {
  border: 1px solid #002A5C;
  color: #002A5C;
  background: none;
  position: relative;
  background-color: none;
  max-width: 320px;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: white;
  background-color: #002A5C;
}

.button .tooltip_text {
  visibility: hidden;
  opacity: 0;
  width: 330px;
  background-color: #CCC;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  top: -0.5em;
  right: 105%;
  transition: 0.3s;
}

.button .tooltip_text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #CCC;
}

.button:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

/* ---------------------------- HEADINGS -----------------------------*/

h1 {
  font-weight: bold;
  line-height: 1.25em;
  margin: 0px 0px 15px 0px;
  border: 0;
  padding: 0;
  text-align: left;
  color: #333;
}

h2 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
  color: #a7a3a3;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #002A5C;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0;
  margin: 0 0 10px 0;
}

.title {
  color: #333;
  font-size: 1.8em;
  padding-bottom: 5px;
  border-bottom: 4px solid #333;
}

.important {
  color: rgb(184, 14, 14);
}

/* ============================ TABLE FORMATTING ============================ */

.table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  background-color: #a7a3a3;
  color: white;
  border-bottom: 1px solid #a7a3a3;
  padding: 5px 0;
}

.table tr {
  border-bottom: 1px solid #CCC;
}

.table tr:last-child {
  border-bottom: none;
}

.table td {
  padding: 10px 15px;
  color: #333;
}

.table td:first-child {
  padding-left: 0;
  text-align: left;
}

/* ============================= HOMEPAGE ======================= */

.landing-page-subtitle {
  text-align: center;
  color: #002A5C;
  font-size: 25px;
  text-transform: uppercase;
}

#lanyard-lending-logo {
  height: 60px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-and-arrows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 300px;
}

.carousel-arrow-left, .carousel-arrow-right {
  color: #5880AF;
  font-size: 80px !important;
  cursor: pointer;
  transition: 0.2s;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
  color: #002A5C;
}

.circles {
  display: flex;
  margin-top: 20px;
}

.carousel-circle {
  height: 15px;
  width: 15px;
  background: #CCC;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-circle:hover {
  background: #a7a3a3;
}

.carousel-circle.active {
  background: #5880AF;
  pointer-events: none;
}

.carousel-items {
  display: flex;
  width: 85vw;
  min-width: 90%;
  justify-content: center;
}

.carousel .item svg {
  width: 40px;
  height: 40px;
}

.carousel .item svg g {
  fill: #002A5C;
}

.carousel .item {
  width: 200px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top left;
  border-left: 1px solid #CCC;
}

.carousel .item:first-child {
  margin-left: 0;
}

.carousel .item:last-child {
  margin-right: 0;
}

.carousel .item-heading {
  max-width: 200px;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0;
}

.carousel .item p {
  text-align: center;
  max-width: 200px;
}

.carousel .item p:last-of-type {
  flex-grow: 1;
}

.carousel .button {
  margin-bottom: 0;
  padding: 10px;
}

.carousel-left-animation {
  -webkit-animation: carousel-move-in-left 0.3s;
  animation: carousel-move-in-left 0.3s;
}

.carousel-right-animation {
  -webkit-animation: carousel-move-in-right 0.3s;
  animation: carousel-move-in-right 0.3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes carousel-move-in-left {
  from {opacity: 0; transform:  translateX(-170px);}
  to {opacity: 1; transform: translateX(0px);}
}

/* Standard syntax */
@keyframes carousel-move-in-left {
  from {opacity: 0; transform:  translateX(-170px);}
  to {opacity: 1; transform: translateX(0px);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes carousel-move-in-right {
  from {opacity: 0; transform:  translateX(170px);}
  to {opacity: 1; transform: translateX(0px);}
}

/* Standard syntax */
@keyframes carousel-move-in-right {
  from {opacity: 0; transform:  translateX(170px);}
  to {opacity: 1; transform: translateX(0px);}
}

.mosaic {
  background: #CCC;
  padding: 80px;
  box-sizing: border-box;
  width: 100%;
}

.mosaic-cards {
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5em 1fr 1.5em 0.8fr;
  -ms-grid-rows: 1fr 1.5em 1fr;
  grid-template-columns: 1fr 1fr 0.8fr;
  grid-auto-rows: minmax(180px, auto);
  gap: 1.5em;
}

.mosaic-cards a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  border-radius: 0;
  margin: 0;
}

.mosaic-cards a p {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.item-1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.item-2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.item-3 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

.item-4 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

.item-5 {
  -ms-grid-column: 5;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/3;
}

/* ============================= ABOUT US PAGE ======================= */

.wrapper2 {
  padding: 0 100px 120px 100px;
  margin-top: 100px;
}

.wrapper2 a:not(.button) {
  font-weight: bold;
}

section {
  margin-bottom: 30px;
}

.homepage section {
  margin-bottom: 70px;
}

/* ============================= CONTACT US PAGE ======================= */

.contact_table tr {
  border: none;
}

.contact_table tr a {
  font-weight: bold;
}

#hours {
  display: flex;
  flex-wrap: wrap;
}

#hours p:last-child {
  margin-bottom: 20px;
}

#images_container {
  display: flex;
  margin-left: 30px;
  margin-top: -80px;
  padding-bottom: 100px;
}

#images_container>div {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  max-width: 380px;
  min-width: 240px;
  height: 320px;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.zoom-image, .zoom-card {
  cursor: zoom-in !important;
}

#images_container>div:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-6px);
}

#images_container>div>div {
  padding: 20px;
}

#images_container img {
  display: block;
  margin: 0 auto;
  max-width: 380px;
  min-width: 240px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

/* ==================== MODAL ==================== */

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 20px;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8);
  -webkit-animation: fade-in 0.3s;
  animation: fade-in 0.3s;
}

.modal.animateout {
  -webkit-animation: fade-out 0.25s;
  animation: fade-out 0.25s;
}

/* Modal Content */
.modal_content {
  position: relative;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  min-width: 500px;
  max-width: 1500px;
  box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: slide-in-bottom 0.3s;
  animation: slide-in-bottom 0.3s;
}

.modal_content.animateout {
  -webkit-animation: animateout 0.25s;
  animation: animateout 0.25s;
}

.modal_header {
  padding: 5px 5px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #002A5C;
  color: white;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}

.modal_header p {
  margin: 0;
}

.modal_body {
  text-align: center;
}

.modal_body img {
  max-width: 100%;
  /* min-width: 500px; */
  width: auto;
  max-height: 700px;
}

@media (max-height: 750px) {
  .modal_body img {
    max-height: 500px;
  }
}

@media (max-height: 550px) {
  .modal_body img {
    max-height: 400px;
  }
}

@media (max-width: 700px) {
  .modal_content {
    width: 100%;
    border-radius: 0;
  }

  .modal_header {
    border-radius: 0;
  }

  .modal_body img {
    border-radius: 0;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes fade-out {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fade-out {
  from {opacity: 1}
  to {opacity: 0}
}

@-webkit-keyframes slide-in-bottom {
  from {transform: translateY(50px); opacity: 0}
  to {transform: translateY(0); opacity: 1}
}

@keyframes slide-in-bottom {
  from {transform: translateY(50px); opacity: 0}
  to {transform: translateY(0); opacity: 1}
}

@-webkit-keyframes animateout {
  from {transform: translateY(0px); opacity: 1}
  to {transform: translateY(50px); opacity: 0}
}

@keyframes animateout {
  from {transform: translateY(0px); opacity: 1}
  to {transform: translateY(50px); opacity: 0}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  transition: 0.1s;
  padding: 3px;
}

.close:hover,
.close:focus {
  cursor: pointer;
  background: #bccbde;
}

.close-viewer-message {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1001;
  transition: 0.8s;
  opacity: 0;
  visibility: hidden;
}

/* ==================== TECH SUPPORT PAGE ==================== */

.majorSection {
  padding: 0px 35px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 1px solid #002A5C;
  border-right: 1px solid #002A5C;
}

button.open + .majorSection:last-child {
  border-bottom: 1px solid #002A5C;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cost {
  font-weight: bold;
  color: #002A5C;
}

.pdf {
  float: left;
  height: 20px;
  width: 20px;
  padding-right: 10px;
  padding-left: 30px;
}

.collapsible {
  background-color: #a7a3a3;
  color: white;
  cursor: pointer;
  padding: 22px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.3s;
}

.collapsible:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.collapsible:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.collapsible:hover:not(.open) {
    background-color: #7c7777;
    border-radius: 5px;
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.open {
    background-color: #002A5C;
    border-radius: 5px;
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.open:after {
    content: "\2212";
}

/* ========================= FORMS PAGE ========================= */

.majorSection2 {
  border-bottom: 4px solid #CCCCCC;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.majorSection2 section:last-child {
  margin-bottom: 0;
}

/* .majorSection2 section:last-child > :last-child {
  margin-bottom: 0;
} */

.majorSection2:last-child {
  border: none;
  padding: none;
  margin: none;
}

.forms .majorSection section:last-child > :last-child h4 {
  margin-bottom: 0;
}

.costs_table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.costs_table th {
  background-color: #a7a3a3;
  color: white;
  padding: 5px 0;
}

.costs_table tr:last-child {
  border-bottom: none;
}

.costs_table td {
  padding: 10px 15px;
  color: #333;
  border: 1px solid #CCC;
}

.costs_table td:first-child {
  text-align: left;
}

.no_border td:first-child {
  border-top: none;
  border-bottom: none;
}

/* ========================= FILM PAGE ========================= */

.more_line_height li {
  margin: 15px 0;
}

.address mark {
  background-color: white;
  color: #333;
  transition: 0.2s;
  padding: 2px;
}

.address:hover mark {
  background-color: #a7a3a3;
}

.address span {
  transition: 0.2s;
}

.address:hover span {
  margin-left: 3px;
}

/* ======================= WEDDINGS PAGE ======================= */

.circle {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background: #002A5C;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.rectangle {
  border-radius: 5px;
  height: 30px;
  width: 50px;
  background: #002A5C;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  transition: 0.1s;
  cursor: pointer;
}

.circle:hover, .circle.active, .circle.current, .rectangle:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  background-color: #bccbde;
  border: none;
  color: #002A5C;
}

#map_canvas {
  position: relative;
  display: flex;
  height: 500px;
}

#map {
  background-image: url("../images/wedding_locations/map.jpg");
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 414px;
  border-top: 3px solid #002A5C;
  border-bottom: 3px solid #002A5C;
  border-right: 3px solid #002A5C;
}

.right_side {
  border-right: 3px solid #002A5C;
  border-bottom: 3px solid #002A5C;
  border-top: 3px solid #002A5C;
  padding: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map_image {
  width: 100%;
  height: 0;
  max-height: 400px;
  min-height: 1px;
  object-fit: cover;
}

.buttons {
  flex: 0 0 40px;
  width: 90%;
  margin-top: 10px;
  display: flex;
}

.buttons button {
  border-radius: 0;
}

.right_side button {
  flex: 1;
  margin: 0 3px;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@media (max-width: 1400px) {
  .buttons {
    width: 100%;
    margin: 10px 0;
  }

  .right_side button {
    margin: 0;
    border-right: none;
  }

  .right_side button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .right_side button:last-child {
    border-right: 1px solid #002A5C;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.right_side h3 {
  margin: 0;
}

#info {
  width: 100%;
  text-align: center;
}

#map_navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#map_navigation li {
  margin: 0;
  flex: 1;
}

#map_navigation li button {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: white;
  text-align: left;
  font-family: 'Open Sans', Verdana, Geneva, Sans-Serif, Arial, Helvetica;
  font-size: 13px;
  background-color: #002A5C;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}

#map_navigation li button:hover {
  background-color: #bccbde;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: #002A5C;
}

#map_navigation li button img {
  border-radius: 5px;
  margin-right: 10px;
  float: left;
  height: 40px;
  width: 40px;
  display: inline;
  vertical-align: middle;
}

#map_navigation li button p {
  display: inline;
  vertical-align: middle;
}

#map_navigation .active {
  background-color: #bccbde;
  color: #002A5C;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

#nothing_selected {
  width: 100%;
  border-radius: 5px;
  background-color: #CCC;
  padding: 10px;
  flex: 1;
}

#street_view_container {
  width: 100%;
  flex: 1;
}

#map_footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

iframe {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* ======================= ROOM RES PAGE ======================= */

#room_booking {
  border: 1px solid #002A5C;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

#campus, #campus_right, #external, #external_right {
  display: none;
  opacity: 0;
}

#internal, #internal_right, #campus, #campus_right, #external, #external_right {
  transition: 0.4s ease-in;
}

/* ======================= ROOM DESCRIPTION PAGE ======================= */
.button-group {
  display: flex;
  width: 100%;
  margin: auto;
}

.button-group-button {
  outline: none;
  background: none;
  color: #002A5C;
  border: 1px solid #002A5C;
  font-size: 16px;
  font-weight: normal !important;
  transition: 0.2s;
  cursor: pointer;
  font-family: 'Open Sans', Verdana, Geneva, Sans-Serif, Arial, Helvetica;
  flex: 1;
  padding: 15px 10px;
  text-align: center;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group-button:hover:not(.btn-active) {
  background: #bccbde;
  color: #002A5C;
}

.button-group-button:first-child {
  border-left: 1px solid #002A5C;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-group-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-active {
  background: #002A5C;
  color: white;
  pointer-events: none;
}

.btn-active svg g {
  fill: white;
}

.btn-active svg g path {
  stroke: white;
}

.button-group .small-text {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.options {
  display: flex;
  align-items: center;
}

.option {
  display: flex;
}

.option > div {
  display: flex;
}

.option p, .tools p {
  font-weight: bold;
  text-transform: uppercase;
}

.form-icons {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: inline-block;
}

.form-icons img {
  height: 25px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  transition: 0.2s;
}

select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  transition: 0.2s;
}

.option select, input[type="date"] {
  background: none;
  display: inline-block;
  padding: 10px;
  border: none;
  border-right: 2px solid #eeeeee;
  height: 55px;
  box-sizing: border-box;
}

.room-container, .calendar {
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  -webkit-animation: fade-in 0.3s ease-out; /* Safari 4.0 - 8.0 */
  animation: fade-in 0.3s ease-out;
}

.room-container {
  margin-bottom: 20px;
  background: #eeeeee;
  display: flex;
}

.side-info {
  margin-left: 20px;
  padding-left: 20px;
  width: 100%;
  border-left: 3px solid #CCC;
}

.building-info1, .room-info1 {
  margin-right: 20px;
  text-align: center;
}

.building-container p {
  margin-top: 10px;
}

.building-title, .room-title {
  color: #002A5C;
  font-weight: bold;
  font-size: 22px;
  margin: 5px 0;
  text-align: center;
}

#building-image {
  height: 70px;
  margin-right: 10px;
  border-radius: 2px;
}

#room-image {
  max-width: 950px;
  border-radius: 2px;
  display: block;
  margin: auto;
}

.room-and-calendar {
  display: flex;
}

.data {
  margin-bottom: 20px;
}

.info {
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  background: #7896bc;
  color: white;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: fade-in 0.3s ease-out; /* Safari 4.0 - 8.0 */
  animation: fade-in 0.3s ease-out;
}

.majorSection .info:first-child {
  margin-top: 20px;
}

.majorSection .info:last-child {
  margin-bottom: 20px;
}

@-webkit-keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.data p {
  margin: 0;
  display: inline-block;
}

.data p:first-child {
  margin-right: 15px;
}

.info p {
  margin: 0;
}

.info p:first-child {
  font-weight: bold;
}

.info p:last-child {
  text-align: right;
}

.yes, .light {
  background: #0ca66d !important;
  color: white;
}

.no, .heavy {
  background: #e0364d !important;
  color: white;
}

.moderate {
  background: #E3C83D !important;
  color: white;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-up {
  from {opacity: 0; transform: translateY(60px);}
  to {opacity: 1; transform: translateY(0px);}
}

/* Standard syntax */
@keyframes move-up {
  from {opacity: 0; transform: translateY(60px);}
  to {opacity: 1; transform: translateY(0px);}
}

.calendar {
  max-width: 1800px;
  width: 100%;
  padding: 0;
}

.calendar-button {
  border: none;
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  color: #333;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  height: 55px;
  box-sizing: border-box;
}

.calendar-button:hover {
  background: #eeeeee;
  color: #333;
}

.calendar-button i {
  color: #002A5C;
}

.button-group .calendar-button {
  border-right: none;
}

.title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eeeeee;
  margin-bottom: 30px;
  padding-right: 20px;
  height: 55px;
  max-width: 1800px;
  box-sizing: border-box;
}

.accessibility-section {
  margin: auto;
  max-width: 800px;
}

/* ======================= TOGGLE SWITCH ======================= */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #002A5C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #002A5C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #002A5C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  text-transform: none;
  font-weight: normal;
}

.label-active {
  font-weight: bold !important;
  color: #002A5C;
}
